.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 80%; /* Adjust this value to change the width of your content */
    margin: 20px auto; /* This will center the container */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px; /* This will add some whitespace between the button and the header */
    width: 100%; /* This will make the button as wide as the container */
}

.button-container .btn {
    width: 100%; /* This will make the button as wide as the button container */
}

.image-container img {
    width: 100%;
    height: auto;
}

.parts-list {
    margin-top: 8px;
}

.half-size {
    width: 50%;
    height: auto;
}